body {
  height: 1500px;
  background-color: #F0FFFF;
  color: #333;
  margin: 33px;
  margin-bottom: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-align:center;
  position: relative;
  min-height: 100%;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #fff;


  &:hover {
    text-decoration:none;
  }
}


th {
  padding-bottom: 5px;
}

td {
  padding:  10px 30px;
}



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
   margin-right: auto;
  margin-left : auto;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin-right: auto;
  margin-left : auto;
}

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }

label {
  display: block;
}

.example {
  margin-bottom:100px;
  position:relative;
  }

.example p {
  position: absolute;
  font-size:2em;
  font-weight:bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.example img {
  width: 100%;
  padding-bottom:100px;
  }
  
.field textarea{
  height: 300px;
  width: 600px;
  padding: 0.8em;
  outline: none;
  border: 1px solid #DDD;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 10px;
}

table{
  margin-top: 100px;
  margin-right: auto;
  margin-left : auto;
}

footer {
  width: 100%;
  background-color:#fff;
  padding: 20px 0 10px 0;
  color: #333;
  margin: auto;
  font-size: 12px;
  position: absolute;
  font-size: 15px;
  bottom:0;
}